<h1>A message from <%=@email.name%> <%=@email.surname%></h1>

<p>Hi Seth,</p>

<p>
<%=@email.message%>
</p>

<p>Sincerely,</p>

<p><%=@email.name%> <%=@email.surname%></p>
<p><%=@email.email%></p>
<p><%=@email.phone%></p>