<h1>A message from <%=@email_info.name%> <%=@email_info.surname%></h1>

<p>Hi Seth,</p>

<p>
<%=@email_info.message%>
</p>

<p>Sincerely,</p>

<p><%=@email_info.name%> <%=@email_info.surname%></p>
<p><%=@email_info.email%></p>
<p><%=@email_info.phone%></p>